---
const { icon, url, url_name } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a target="_blank" href={url}>
  <button class="btn btn-outline btn-sm sm:btn-md mr-1 sm:mr-2 text-xs sm:text-sm"
    ><Icon name={icon} class="w-4 h-4 sm:w-6 sm:h-6" />{url_name}</button
  >
</a>
