---
const getYear = () => new Date().getFullYear().toString();
---

<footer
  class="flex justify-center items-center bg-transparent py-3 sm:py-4 px-2"
>
  <p class="flex items-center text-center font-light text-xs sm:text-sm text-secondary">
    &copy; {getYear()} developed by
    <a target="_blank" class="link ml-1" href="https://github.com/TonyRoyze">Tony Royce</a>
  </p>
  <img
    class="rounded-full w-3 h-3 sm:w-4 sm:h-4 ml-1 sm:ml-2 shadow-md border border-black"
    src="gl_flag_128x.png"
    alt="Galician Flag"
  />
</footer>
